body
{
    padding-top:60px;
}

#urls
{
    margin-top: 25px;
}

#logon-backdrop
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
    opacity: 0.8;
}

/* Styles for basic forms
-----------------------------------------------------------*/

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
