@model TugberkUg.UrlShrinker.Data.DataAccess.ShortenedUrl
@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/twitter-bootstrap/bootstrap-modal.js"></script>
    <script src="~/Scripts/App/URLClientViewModel.js"></script>
    <script>
        (function () {
            $(function () {

            });
        } ());
    </script>
}

<div class="pull-left">
    <h1>URLs</h1>
</div>

<div class="pull-right">
    <a data-bind="click: addNew" class="btn" href="#">Add New</a>
</div>

<p>&nbsp;</p>

<section id="urls">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alias</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: urls">
            <tr>
                <td>
                    <span data-bind="text: Id"></span>
                </td>
                <td>
                    <span data-bind="text: Alias"></span>
                </td>
                <td>
                    <span data-bind="text: Url"></span>
                </td>
            </tr>
        </tbody>
    </table>
</section>

@section body { 

    <div class="modal" id="addNewModal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <div>@Html.LabelFor(m => m.Alias)</div>
        <div>
            @Html.TextBoxFor(m => m.Alias, new { data_bind = "value: urlCreate().Alias" })
            <span data-bind="text: urlCreate().Alias"></span>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary" data-bind="click: addNewRecord">Save changes</a>
      </div>
    </div>
}