<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\website\tugberk.me\www</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AsyncCtpLibrary.dll">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/AsyncCtpLibrary.xml">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Autofac.Configuration.dll">
      <publishTime>03/01/2012 15:38:15</publishTime>
    </File>
    <File Include="bin/Autofac.dll">
      <publishTime>03/01/2012 15:38:15</publishTime>
    </File>
    <File Include="bin/Autofac.Integration.Mvc.dll">
      <publishTime>03/01/2012 15:38:21</publishTime>
    </File>
    <File Include="bin/Autofac.xml">
      <publishTime>03/01/2012 15:38:15</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>03/01/2012 12:45:35</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>03/08/2012 15:37:02</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.pdb">
      <publishTime>03/08/2012 15:37:02</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>03/08/2012 15:37:02</publishTime>
    </File>
    <File Include="bin/NLog.dll">
      <publishTime>03/08/2012 15:37:01</publishTime>
    </File>
    <File Include="bin/NLog.xml">
      <publishTime>03/08/2012 15:37:01</publishTime>
    </File>
    <File Include="bin/Raven.Abstractions.dll">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Abstractions.pdb">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Abstractions.xml">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.Debug.dll">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.Debug.pdb">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.dll">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.pdb">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.xml">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.MvcIntegration.dll">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/Raven.Client.MvcIntegration.pdb">
      <publishTime>03/08/2012 15:37:04</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>03/01/2012 12:45:51</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>03/01/2012 12:45:51</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>03/01/2012 12:45:52</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>03/01/2012 12:45:53</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>03/01/2012 12:45:53</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>03/01/2012 12:45:52</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>03/01/2012 12:45:52</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>03/01/2012 12:45:52</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>03/01/2012 12:45:50</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>03/01/2012 12:45:50</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>03/01/2012 12:45:53</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>03/01/2012 12:45:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>03/01/2012 12:45:54</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>03/01/2012 12:45:53</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>03/01/2012 12:45:51</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>03/01/2012 12:45:51</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>03/01/2012 12:45:55</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>03/01/2012 12:45:54</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>03/01/2012 12:45:48</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>03/01/2012 12:45:48</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>03/01/2012 12:45:49</publishTime>
    </File>
    <File Include="bin/TugberkUg.UrlShrinker.Data.dll">
      <publishTime>03/08/2012 18:05:43</publishTime>
    </File>
    <File Include="bin/TugberkUg.UrlShrinker.Data.pdb">
      <publishTime>03/08/2012 18:05:43</publishTime>
    </File>
    <File Include="bin/TugberkUg.UrlShrinker.Web.dll">
      <publishTime>03/08/2012 20:11:13</publishTime>
    </File>
    <File Include="bin/TugberkUg.UrlShrinker.Web.pdb">
      <publishTime>03/08/2012 20:11:13</publishTime>
    </File>
    <File Include="bin/TugberkUg.Web.Http.dll">
      <publishTime>03/08/2012 16:51:32</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/01/2012 12:45:20</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/01/2012 12:45:20</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>03/08/2012 16:51:32</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1-vsdoc.js">
      <publishTime>03/01/2012 12:52:50</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.js">
      <publishTime>03/01/2012 12:52:50</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>03/01/2012 12:52:50</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>03/01/2012 12:45:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>03/01/2012 12:45:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>03/01/2012 12:45:30</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>03/01/2012 12:45:31</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>03/01/2012 12:45:31</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.debug.js">
      <publishTime>03/01/2012 12:45:56</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>03/01/2012 12:45:56</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>03/01/2012 12:45:34</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>03/01/2012 12:45:20</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>03/08/2012 17:21:04</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>03/01/2012 12:45:20</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>03/01/2012 12:45:20</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>03/08/2012 20:11:14</publishTime>
    </File>
  </ItemGroup>
</Project>